body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-style: initial;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;
}
a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

    a:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.container-fluid {
    padding-top: 100px;
    padding-right: 0!important;
    padding-left: 100px !important;
    margin-right: auto;
    margin-left: auto;
}
.home-Contact {
    background-color: red;
    margin-right: 0 !important;
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

    .home-Contact hr {
        width: 1px;
        height: 80%;
        background: black;
        border: 0;
        display: inline-block;
        margin: 0 5px 0;
    }

    

    .home-Contact span {
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }

.Before-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.after-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.home-Menu{
    margin-right:0 !important;
}
.home-Menu-left {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.home-Menu-right {
    background-color: antiquewhite;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height:51px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.home-Menu hr {
    width: 1px;
    height: 15px;
    background: black;
    border: 0;
    display: inline-block;
    margin: 0 5px 0;
}
.total {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding:0 15px;
}
.total span{
    font-size:18px;
}
.product {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding:10px;
    
    width: 100%;
    height:320px;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(251, 219, 234);
    color: rgb(1, 121, 212)!important;
    border-color: rgb(152, 88, 208);
}
    button:hover {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: rgb(236, 83, 147);
        color: rgb(15, 81, 151);
        border-color: rgb(92, 37, 152);
    }
.overlay {
    position: absolute;
    bottom: 100%;
    left: 10px!important;
    right: 10px!important;
    background-color: black;
    overflow: hidden;
    width: 90%;
    height: 0;
    transition: .5s ease;
    opacity: 0.7;
}

.product:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width:200px;
    height:300px;
    padding-left:10px;
}
.detail {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.price{
    font-size:15px;
    font-weight:bold
}
/*   .product img {
        max-width: 100%;
        height: auto;
    }*/


.home-Menu-left > .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.home-Menu-right > .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
