body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-style: initial;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;
}
a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

    a:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.container{
    padding-left:100px;
}
.home-Contact {
    background-color: red;
    margin: 0;
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

    .home-Contact hr {
        width: 1px;
        height: 80%;
        background: black;
        border: 0;
        display: inline-block;
        margin: 0 5px 0;
    }

    .home-Contact div {
        display: none;
    }

        .home-Contact div.active {
            display: flex;
        }

    .home-Contact span {
        font-size: 14px;
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }

.Before-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.home-Menu-left {
    background-color: antiquewhite;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}
#admin{
    display:none;
}
.home-Menu-right {
    background-color: antiquewhite;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height:50px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.home-Menu hr {
    width: 1px;
    height: 15px;
    background: black;
    border: 0;
    display: inline-block;
    margin: 0 5px 0;
}

.product {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding:10px;
    margin:20px 0;
    margin-left:60px;
    width: 100%;
    height:320px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.7;
}

.product:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*   .product img {
        max-width: 100%;
        height: auto;
    }*/


.home-Menu-left > .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.home-Menu-right > .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
