body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-style: initial;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;
}

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

    a:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.container-fluid {
    padding-top: 100px;
    padding-right: 10px !important;
    padding-left: 90px !important;
    margin-right: auto;
    margin-left: auto;
}

.home-Contact {
    background: linear-gradient(to right, #fca5f1, #b5ffff);
    margin-right: 0 !important;
    padding: 10px 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

    .home-Contact hr {
        width: 1px;
        height: 80%;
        background: black;
        border: 0;
        display: inline-block;
        margin: 0 5px 0;
    }



    .home-Contact span {
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }

.Before-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.after-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .after-login > ul > li > a {
        padding: 20px;
        text-decoration: none;
        font: bold 18px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        color: #402e16;
        text-shadow: #eee 0px 0px 2px;
    }


    .after-login > ul > li > a:hover {
        -moz-box-shadow: 0 -5px 10px #777;
        -webkit-box-shadow: 0 -5px 10px #777;
        background: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
        background: -moz-linear-gradient( right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
        background-color: rgb(255,173,10) !important;
        -moz-opacity: .90;
        filter: alpha(opacity=90);
        opacity: .90;
    }

    .after-login > ul > li > ul > li > a {
        padding: 10px;
        background: rgba(255,138,30,0.5);
        text-decoration: none;
        font: bold 14px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        color: #402e16;
        text-shadow: #eee 0px 0px 2px;
    }

    .after-login > ul > li > ul > li:last-child > a {
        -moz-border-radius-bottomleft: 12px;
        -webkit-border-bottom-left-radius: 12px;
        -moz-border-radius-bottomright: 12px;
        -webkit-border-bottom-right-radius: 12px;
    }

    .after-login > ul > li > ul > li > a:hover {
        -moz-box-shadow: 0 -5px 10px #777;
        -webkit-box-shadow: 0 -5px 10px #777;
        background: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
        background: -moz-linear-gradient( right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
        background-color: rgb(255,173,10) !important;
        -moz-opacity: .90;
        filter: alpha(opacity=90);
        opacity: .90;
    }

.home-Menu {
    margin-right: 0 !important;
}

.home-Menu-left {
    background: linear-gradient(to right, #fca5f1, #D9D2F8);
    padding-top: 10px;
    padding-left: 20px !important;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

    .home-Menu-left > ul > li > a {
        padding: 20px;
        background: rgba(255,138,30,0.3);
        text-decoration: none;
        font: bold 18px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        color: #402e16;
        text-shadow: #eee 0px 0px 2px;
    }

    .home-Menu-left > ul > li:first-child > a {
        -moz-border-radius-topleft: 12px;
        -webkit-border-top-left-radius: 12px;
    }

    .home-Menu-left > ul > li:last-child > a {
        -moz-border-radius-topright: 12px;
        -webkit-border-top-right-radius: 12px;
    }

    .home-Menu-left > ul > li > a:hover {
        -moz-box-shadow: 0 -5px 10px #777;
        -webkit-box-shadow: 0 -5px 10px #777;
        background: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
        background: -moz-linear-gradient( right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
        background-color: rgb(255,173,10) !important;
        -moz-opacity: .90;
        filter: alpha(opacity=90);
        opacity: .90;
    }

    .home-Menu-left > ul > li > ul > li > a {
        padding: 10px;
        background: rgba(255,138,30,0.5);
        text-decoration: none;
        font: bold 14px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        color: #402e16;
        text-shadow: #eee 0px 0px 2px;
    }

    .home-Menu-left > ul > li > ul > li:last-child > a {
        -moz-border-radius-bottomleft: 12px;
        -webkit-border-bottom-left-radius: 12px;
        -moz-border-radius-bottomright: 12px;
        -webkit-border-bottom-right-radius: 12px;
    }

    .home-Menu-left > ul > li > ul > li > a:hover {
        -moz-box-shadow: 0 -5px 10px #777;
        -webkit-box-shadow: 0 -5px 10px #777;
        background: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
        background: -moz-linear-gradient( right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
        background-color: rgb(255,173,10) !important;
        -moz-opacity: .90;
        filter: alpha(opacity=90);
        opacity: .90;
    }

.dropdown-menu {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.home-Menu-right {
    background: linear-gradient(to right, #D9D2F8, #b5ffff);
    margin: 0;
    padding-top: 10px;
    height: 42px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

    .home-Menu-right > ul > li > a {
        padding: 20px;
        background: rgba(255,138,30,0.6);
        text-decoration: none;
        font: bold 18px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        color: #402e16;
        text-shadow: #eee 0px 0px 2px;
    }

    .home-Menu-right > ul > li:first-child > a {
        -moz-border-radius-topleft: 12px;
        -webkit-border-top-left-radius: 12px;
    }

    .home-Menu-right > ul > li:last-child > a {
        -moz-border-radius-topright: 12px;
        -webkit-border-top-right-radius: 12px;
    }

    .home-Menu-right > ul > li > a:hover {
        -moz-box-shadow: 0 -5px 10px #777;
        -webkit-box-shadow: 0 -5px 10px #777;
        background: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
        background: -moz-linear-gradient( right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
        background-color: rgb(255,173,10) !important;
        -moz-opacity: .90;
        filter: alpha(opacity=90);
        opacity: .90;
    }

    .home-Menu-right > ul > li > ul > li > a {
        padding: 10px;
        background: rgba(255,138,30,0.5);
        text-decoration: none;
        font: bold 14px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        color: #402e16;
        text-shadow: #eee 0px 0px 2px;
    }

    .home-Menu-right > ul > li > ul > li:last-child > a {
        -moz-border-radius-bottomleft: 12px;
        -webkit-border-bottom-left-radius: 12px;
        -moz-border-radius-bottomright: 12px;
        -webkit-border-bottom-right-radius: 12px;
    }

    .home-Menu-right > ul > li > ul > li > a:hover {
        -moz-box-shadow: 0 -5px 10px #777;
        -webkit-box-shadow: 0 -5px 10px #777;
        background: -webkit-gradient( linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
        background: -moz-linear-gradient( right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
        background-color: rgb(255,173,10) !important;
        -moz-opacity: .90;
        filter: alpha(opacity=90);
        opacity: .90;
    }

.total span {
    font-size: 18px;
}
.outofstock {
    position: absolute;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 49%;
    padding: 56px 18px;
    color: black;
    font-size: 32px !important;
    top: 81px;
    left: 59px;
    color: red;
    border: solid 2px red;
    box-shadow: 1px 2px 8px 1px cyan;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 1px 2px 8px 1px #c4c4c4;
    width: 100%;
    height: 320px;
}
.overlay {
    text-align: end;
    padding-top: 10px;
    position: absolute;
    top: 0 !important;
    height: 50px;
    overflow: hidden;
    width: 0%;
    height: 0;
    transition: width 0.5s;
    justify-content: center;
}
    .overlay > a {
        color: black;
        padding-left: 0px;
        padding-top: 10px;

    }
    .overlay > span > a {
        color: black;
        padding-left: 0px;
        padding-top: 10px;
    }
.product:hover .overlay {
    top: 0;
    height: 50px;
    width:90%;
}
.product-detail{
    margin-bottom:40px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(251, 219, 234);
    color: rgb(1, 121, 212) !important;
    border-color: rgb(152, 88, 208);
}

    button:hover {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: rgb(236, 83, 147);
        color: rgb(15, 81, 151);
        border-color: rgb(92, 37, 152);
    }


.text {
    padding-top: 30px !important;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    padding-left: 10px;
}

.detail {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price {
    font-size: 15px;
    font-weight: bold
}


.home-Menu-left > .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.home-Menu-right > .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.name_pro {
    display: block;
    color: black;
    margin:13px 0px 8px 0px;
}
.name_pro > a{
    font-size:18px;
    color:black;
}
