body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
}
.content-right{
    justify-content:center;
    align-items:center;
}
.title{
    margin:auto;
    padding:10px 0 10px 400px;
}
h2{
    font-family:Elephant;
}

.product-img {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 10px 5px 5px rgb(123, 137, 234);
    border: 1px solid rgb(155, 161, 209);
    border-radius: 2px;
    padding: 10px;
    margin: 20px 0;
    margin-left: 60px;
    max-width: 350px;
    height: 315px;
}

.ip-text-Pro {
    outline: none;
    border:none;
    border-bottom: 2px solid rgb(196, 108, 208);
    padding: 12px 13px 12px 12px;
    max-width: 500px;
    margin: 10px 0 15px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
    height: 50px;
    font-size: 20px;
}
    .ip-text-Pro:focus {
    border-bottom:2px solid dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
    }
    .ip-text-Pro:hover {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
.ip-date-Pro {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(196, 108, 208);
    padding: 12px 13px 12px 12px;
    max-width: 500px;
    margin: 10px 0 15px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
    height: 50px;
    font-size: 20px;
}

    .ip-date-Pro:focus {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    .ip-date-Pro:hover {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
.ip-number-Pro {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(196, 108, 208);
    padding: 12px 13px 12px 12px;
    max-width: 500px;
    margin: 10px 0 15px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
    height: 50px;
    font-size: 20px;
}

    .ip-number-Pro:focus {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    .ip-number-Pro:hover {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
select {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(196, 108, 208);
    padding: 12px 13px 12px 12px;
    max-width: 300px;
    margin: 10px 0 15px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
    height: 50px;
    font-size: 20px;
}
    select:focus {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
input[type=file] {
    outline: none;
    border-bottom: 2px solid rgb(196, 108, 208);
    padding: 12px 13px 12px 12px;
    max-width: 400px;
    margin: 10px 0 15px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
    height: 50px;
    font-size: 20px;
}

    input[type=file]:hover {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    input[type=file]:focus {
        border-bottom: 2px solid dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
.ip-submit-Pro {
    background: linear-gradient(to right, #fc00ff, #00dbde);
    outline: none;
    border:none;
    padding: 12px 13px 12px 12px;
    max-width: 200px;
    margin: 10px 0 15px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .3s;
    height: 50px;
    font-size: 20px;
}

    .ip-submit-Pro:hover {
        border:none;
        box-shadow: 0 0 8px 0 dodgerBlue;
        background: linear-gradient(to right, #fc466b, #3f5efb);
    }
.pro-span {
    display: block;
    font-size: 20px;
    background: -webkit-linear-gradient(90deg,#eee, #001dff,#00d8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
