
a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-style: initial;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: black;
}
span {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}
.clear {
    clear: both;
}
img {
    max-width: 100%;
}
body {
    
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
}

    a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

    a:hover {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.header {
    width: 100%;
    background: url(../Img/dongho.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.header-main {
    padding: 100px 0px 50px;
    width: 100%;
    margin: 0 auto;
}

    .header-main h1 {
        font-size: 64px;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 0.8em;
    }

.sign-up {
    margin: 2em 0;
}

.header-left {
    background: #fff;
    padding: 0px;
}

.sign-up h2 {
    font-size: 22px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background: space;
    width: 40px;
    height: 40px;
    line-height: 1.7em;
    margin: 0 auto;
}

.header-top {
    width:100%;
}

    .header-left-top h3 {
        font-size: 16px;
        font-weight: 400;
        color: #A59DA1;
        line-height: 1.5em;
        margin: 0px 0px 25px 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }

span.login-color {
    color: #FFB900;
    font-weight: 700;
}
input{width:100%}
.header-left-top input {
    max-width: none;
}
    .header-left-top input[type="text"] {
        background: url(../Img/m.png)no-repeat 0px 5px;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding: 12px 13px 20px 44px;
        border: none;
        border-bottom: 1px solid #fff;
        width: 100%;
        margin: 10px 0 35px;
        display: block;
    }

    .header-left-top input[type="password"] {
        background: url(../Img/l.png)no-repeat 0px 5px;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 12px 13px 20px 44px;
        width: 100%;
        margin: 10px 0 35px;
        display: block;
    }
    .header-left-top input[type="date"] {
        background: url(../Img/calendar-11-24.png)no-repeat 0px 5px;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding: 12px 13px 20px 44px;
        border: none;
        border-bottom: 1px solid #fff;
        width: 100%;
        margin: 10px 0 35px;
        display: block;
    }
    .header-left-top input[type="number"] {
        background: url(../Img/phone-24.png)no-repeat 0px 5px;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 12px 13px 20px 44px;
        width: 100%;
        margin: 10px 0 35px;
        display: block;
        icon:unset;
    }
    .header-left-top input[class="address"]{
        background: url(../Img/map-marker-2-24.png)no-repeat 0px 5px;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 12px 13px 20px 44px;
        width: 100%;
        margin: 10px 0 35px;
        display: block;
    }
    .header-left-top input[type="submit"] > #login {
        background: space;
        color: #FFF;
        font-size: 26px;
        padding: 0.3em 1.2em;
        width: 100%;
        font-weight: 500;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        display: inline-block;
        cursor: pointer;
        border: 2px solid #ffa12e;
        border-radius: 3px;
        font-family: 'Roboto Condensed', sans-serif;
    }

        .header-left-top input[type="submit"]:hover {
            background: rgba(252, 161, 74,0.3);
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }

.remember {
    margin: 1em 0em;
}

.header-social {
    text-align: center;
}

h5 {
    border-left: 1px dotted #c3c3c3;
    padding: 0.5em;
}

.header-social a.face {
    background: url(../Img/face.png)no-repeat 12px 13px #3B62A3;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2em;
    width: 40%;
    text-align: left;
    margin-right: 4%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}

    .header-social a.face:hover {
        background: url(../Img/face.png)no-repeat 12px 13px #0E387C;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
.header-social a.twitt {
    background: url(../Img/twitter.png)no-repeat 12px 13px #19B0E7;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0 2.5em;
    width: 40%;
    text-align: left;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}

    .header-social a.twitt:hover {
        background: url(../Img/twitter.png)no-repeat 12px 13px #0192C7;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.header-social h4 {
    font-size: 17px;
    color: #6A67CE;
    text-align: center;
    margin: 20px 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

    .header-social h4 a {
        color: #6A67CE;
    }

        .header-social h4 a:hover {
            color: #FFB900;
        }

.header-left-top.checkbox {
    position: relative;
    display: block;
    float: left;
}

.header-left-top p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    display: inline-block;
    padding: 0px 0px 0px 68px;
}

    .header-left-top p a {
        font-size: 20px;
        font-weight: 400;
        color: #000;
    }

        .header-left-top p a:hover {
            color: #777;
            text-decoration: none;
        }

label.checkbox {
    display: inline-block;
}

.checkbox i {
    font-size: 20px;
    font-weight: 400;
    color: #999;
    font-style: normal;
}



.forgot {
    float: right;
    margin-top:13px;
}

    .forgot h6 {
        font-size: 1em;
        margin-top: 0.2em;
    }

        .forgot h6 a {
            text-decoration:none;
            color: #efe8e8;
        }

            .forgot h6 a:hover {
                color: #ff3366;
            }

.remember-top {
    float: left;
}

.checkbox {
    margin-bottom: 4px;
    font-size: 1.2em;
    line-height: 27px;
    cursor: pointer;
}

.checkbox {
    position: relative;
    font-size: 0.95em;
    font-weight: normal;
    color: #efe8e8;
    padding: 0em 0.5em 0em 2.5em;
}

    .checkbox i {
        position: absolute;
        bottom: 5px;
        left: 2px;
        display: block;
        width: 18px;
        height: 18px;
        outline: none;
        background: #fff;
        border: 1px solid #6A67CE;
    }

    .checkbox input + i:after {
        content: '';
        background: url("../Img/tick.png") no-repeat 5px 5px;
        top: -1px;
        left: -1px;
        width: 15px;
        height: 15px;
        font: normal 12px/16px FontAwesome;
        text-align: center;
    }

    .checkbox input + i:after {
        position: absolute;
        opacity: 0;
        transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -webkit-transition: opacity 0.1s;
    }

    .checkbox input {
        position: absolute;
        left: -9999px;
    }

        .checkbox input:checked + i:after {
            opacity: 1;
        }
.clear {
    clear: both;
}

@media(max-width:1440px) {
    .header-main {
        width: 33%;
    }
}

@media(max-width:1366px) {
    .header-main {
        width: 35%;
    }
}

@media(max-width:1280px) {
    .header-main {
        width: 38%;
    }
}

@media(max-width:1024px) {
    .header-main {
        width: 46%;
    }

        .header-main h1 {
            font-size: 63px;
        }
}

@media(max-width:991px) {
    .header-main {
        width: 48%;
    }
}

@media(max-width:800px) {
    .header-main {
        width: 60%;
    }
}

@media(max-width:768px) {
    .header-main {
        width: 61%;
    }

    span.sin-color {
        font-size: 14px;
    }
}

@media(max-width:736px) {
    .header-main {
        width: 65%;
    }
}

@media(max-width:667px) {
    .header-main h1 {
        font-size: 60px;
    }

    .header-main {
        width: 67%;
    }

    .strip-left.middle {
        margin: 0px 16px;
    }

    .header-social a.face {
        margin-right: 2%;
    }

    .sign-up {
        margin: 1.5em 0;
    }
}

@media(max-width:640px) {
    .header-main h1 {
        padding-bottom: 1.1em;
    }

    .header-main {
        width: 70%;
    }
}

@media(max-width:600px) {
    .header-social a.twitt {
        width: 28%;
    }

    .header-social a.face {
        margin-right: 2%;
        width: 33%;
    }

    .header-main h1 {
        font-size: 56px;
    }
}

@media(max-width:568px) {
    .header-main {
        width: 80%;
    }
}

@media(max-width:480px) {
    .header-main {
        padding: 60px 0px 30px;
    }

        .header-main h1 {
            font-size: 45px;
        }

    .header-left-top input[type="text"] {
        width: 83%;
    }

    .header-left-top input[type="password"] {
        width: 83%;
    }

    .header-main {
        width: 73%;
    }

    .header-social a.twitt {
        width: 24%;
    }

    .header-social a.face {
        width: 30%;
    }

    .header-left-top input[type="submit"] {
        font-size: 22px;
    }
}

@media(max-width:414px) {
    .header-left-top input[type="text"] {
        width: 80%;
    }

    .header-left-top input[type="password"] {
        width: 80%;
    }

    .header-main {
        width: 75%;
    }

    .header-social a.twitt {
        width: 21%;
    }

    .header-social a.face {
        width: 27%;
    }

    .sign-up {
        margin: 1em 0;
    }

    .header-left-top input[type="submit"] {
        font-size: 20px;
    }

    .sign-up h2 {
        font-size: 18px;
        width: 36px;
        height: 36px;
        line-height: 1.9em;
    }

    .header-main {
        padding: 60px 0px 12px;
    }

    .copyright p a {
        line-height: 1.8em;
    }

    .header-main h1 {
        font-size: 42px;
    }
}

@media(max-width:384px) {
    .header-main h1 {
        font-size: 38px;
    }

    .header-social a.face {
        width: 25%;
    }

    .header-social a.twitt {
        width: 19%;
    }
}

@media(max-width:375px) {
    .header-main {
        width: 78%;
    }

    .copyright {
        padding: 19px 13px;
        text-align: center;
    }
}

@media(max-width:320px) {
    .header-main {
        width: 85%;
    }

    .header-main {
        padding: 25px 0px 15px 0px;
    }

    .header-left-top input[type="text"] {
        padding: 12px 13px 15px 44px;
        width: 77%;
    }

    .header-left-top input[type="password"] {
        padding: 12px 13px 15px 44px;
        width: 77%;
    }

    .header-main h1 {
        font-size: 36px;
    }

    .header-social a.face {
        width: 23%;
    }

    .header-social a.twitt {
        width: 17%;
    }

    .header-left-top input[type="submit"] {
        font-size: 19px;
    }

    .checkbox {
        font-size: 0.8em;
    }

    .forgot h6 {
        font-size: 0.9em;
    }

    .header-left-bottom h3 {
        font-size: 12px;
    }

    .copyright p {
        font-size: 15px;
    }

    .header-main h1 {
        padding-bottom: 1em;
    }

    .remember {
        margin: 0.5em 0em;
    }

    .copyright {
        padding: 10px 6px 0;
    }

    .header-left-top input[type="password"] {
        margin: 0 0 17px;
    }

    .header-left-top input[type="text"] {
        margin: 0 0 17px;
    }

    .header-social a.face {
        margin-right: 4%;
    }
}
