USE [master]
GO
/****** Object:  Database [shop]    Script Date: 02/12/2020 21:29:35 ******/
CREATE DATABASE [shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shop', FILENAME = N'D:\vy\study\HK1-20-21\Lập trình Web\new\newnew\shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shop_log', FILENAME = N'D:\vy\study\HK1-20-21\Lập trình Web\new\newnew\shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shop]
GO
/****** Object:  User [IIS APPPOOL\WatchStore]    Script Date: 02/12/2020 21:29:35 ******/
CREATE USER [IIS APPPOOL\WatchStore] FOR LOGIN [IIS APPPOOL\WatchStore] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\WatchStore]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\WatchStore]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 02/12/2020 21:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 02/12/2020 21:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID_Order] [nvarchar](50) NOT NULL,
	[ID_Product] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC,
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 02/12/2020 21:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID_Order] [nvarchar](50) NOT NULL,
	[ID_Customer] [nvarchar](50) NOT NULL,
	[Date_Create] [datetime] NULL,
	[shipName] [nvarchar](max) NULL,
	[shipMobile] [nchar](10) NULL,
	[shipAddress] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02/12/2020 21:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [ntext] NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
	[Warranty] [int] NULL,
	[Price_New] [float] NULL,
	[TopHot] [nvarchar](250) NULL,
	[DateCreate] [date] NULL,
	[Description] [ntext] NULL,
	[Style] [nvarchar](250) NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02/12/2020 21:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Birthday] [date] NULL,
	[Phone] [nchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[isAdmin] [bit] NULL,
	[avatar] [nvarchar](2000) NULL,
	[Email] [nvarchar](250) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (N'CS', N'Casio')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (N'DW', N'DW')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (N'RL', N'Rolex')
GO
INSERT [dbo].[OrderDetail] ([ID_Order], [ID_Product], [Quantity], [Price]) VALUES (N'1', N'1', 26, 143000000)
INSERT [dbo].[OrderDetail] ([ID_Order], [ID_Product], [Quantity], [Price]) VALUES (N'1', N'2', 2, 11540000)
INSERT [dbo].[OrderDetail] ([ID_Order], [ID_Product], [Quantity], [Price]) VALUES (N'1', N'4', 1, 8390300000)
GO
INSERT [dbo].[Orders] ([ID_Order], [ID_Customer], [Date_Create], [shipName], [shipMobile], [shipAddress], [status]) VALUES (N'1', N'vyvy', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Orders] ([ID_Order], [ID_Customer], [Date_Create], [shipName], [shipMobile], [shipAddress], [status]) VALUES (N'2', N'user', CAST(N'2020-12-02T15:29:28.230' AS DateTime), N'Nguyễn Văn A', N'0663228952', N'Thu dc', 1)
INSERT [dbo].[Orders] ([ID_Order], [ID_Customer], [Date_Create], [shipName], [shipMobile], [shipAddress], [status]) VALUES (N'3', N'user', CAST(N'2020-12-02T16:22:24.873' AS DateTime), N'Nguyễn Văn A', N'0663228952', N'Thu dc', 1)
GO
INSERT [dbo].[Products] ([ID], [Name], [Image], [Price], [Quantity], [Warranty], [Price_New], [TopHot], [DateCreate], [Description], [Style], [Brand], [Country]) VALUES (N'1', N'Jacques Lemans JL-1-1654ZD', N'../Img/dongho3.jpg', 5500000, 20, 12, NULL, NULL, CAST(N'2020-11-15' AS Date), N'Đường kính mặt
 40 mm
. Độ chịu nước
 10 ATM
. Chất liệu mặt
 Hardened crystex crystal (Kính cứng )
. Năng lượng sử dụng
 Đồng hồ điện tử (Quartz/ Pin)', N'Đồng hồ nam', N'RL', N'Áo')
GO
INSERT [dbo].[User] ([Username], [Password], [Name], [Birthday], [Phone], [Address], [isAdmin], [avatar], [Email]) VALUES (N'thienncuoc@gmail.com', NULL, N'Cước Thiên', CAST(N'0001-01-01' AS Date), NULL, NULL, NULL, NULL, N'thienncuoc@gmail.com')
INSERT [dbo].[User] ([Username], [Password], [Name], [Birthday], [Phone], [Address], [isAdmin], [avatar], [Email]) VALUES (N'user', N'123456', N'Nguyễn Văn A', NULL, N'0663228952', N'Thu dc', 0, NULL, NULL)
INSERT [dbo].[User] ([Username], [Password], [Name], [Birthday], [Phone], [Address], [isAdmin], [avatar], [Email]) VALUES (N'vyvy', N'12345', N'Tu Ngọc Yến Vy', NULL, NULL, NULL, 1, NULL, N'maimaimottinhban151@gmail.com')
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Orders] ([ID_Order])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Orders]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Products] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[User] ([Username])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brand] FOREIGN KEY([Brand])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brand]
GO
USE [master]
GO
