
@{
    ViewBag.Title = "AddProduct";
}

<div>
    <div class="title">
        <h2>THÊM SẢN PHẨM</h2>
    </div>
    <form>
        <div class="col-lg-5">
            <div class="content-right">
                <div class="product-img">
                    <img src="" id="loadImg" alt="Alternate Text" />
                </div>
                <input type="file" id="link" name="name" accept="image/*" style="padding-left:50px;margin-left:33px;" />
            </div>

        </div>
        <div class="content-left col-lg-7" style="border-left: 2px solid black; padding-left:50px">
                <span>Tên sản phẩm</span>
                <input type="text" id="Pro_name" class="ip-text-Pro" name="" value="" />

                <span>Hãng</span>
                <select id="brand">
                    <option value="DW">DW</option>
                    <option value="CS">CASIO</option>
                    <option value="RL">ROLEX</option>
                </select>
                <br />

                <span>Bảo hành (tháng):</span>
                <input type="number" id="warranty" class="ip-number-Pro" name="" value="" />

                <span>Loại đồng hồ:</span>
                <select id="style">
                    <option value="ĐỒng hồ nam">Đồng hồ Nam</option>
                    <option value="Đồng hồ nữ">Đồng hồ Nữ</option>
                </select>
                <br />

                <span>Năm sản xuất</span>
                <input type="date" id="yearOfManufacturing" class="ip-date-Pro" name="" value="" />

                <span>Giá tiền</span>
                <input type="number" id="price" class="ip-number-Pro" name="" value="" />

                <span>Nước sản xuất</span>
                <input type="text" id="country" class="ip-text-Pro" name="" value="" />

                <span>Mô tả</span>
                <textarea id="Description" rows="10" cols="70" style="max-width:500px; max-height:300px;" placeholder="Nhập mô tả sản phẩm"></textarea>
                <div type="submit" id="add" class="ip-submit-Pro" name="name" value="THÊM" style="margin-left:130px;text-align:center;">THÊM</div>


        </div>
    </form>
</div>
<script>
    
    $(document).ready(function () {
        $("#link").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#loadImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
        
    });
</script>
<script>
    $(document).ready(function () {
        $("#add").click(function () {
            let Pro_name = $("#Pro_name")[0].value;
            let yearOfManufacturing = $("#yearOfManufacturing")[0].value;
            let price = $("#price")[0].value;
            var brand = document.getElementById("brand");
            brand = brand.value;
            let country = $("#country")[0].value;
            var style = document.getElementById("style");
            style = style.value;
            var img = document.getElementById("loadImg");
            img = img.src;
            let warranty = $("#warranty")[0].value;
            var description = document.getElementById("Description");
            description = description.value;
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Shop/AddProduct",
                data: {
                    Name: Pro_name,
                    Image: img,
                    Price: price,
                    Warranty: warranty,
                    DateCreate: yearOfManufacturing,
                    Description: description,
                    Style: style,
                    Country: country,
                    Brand: brand
                },
                success: function (res) {
                    if (res === "false") {
                        alert("Nhập sản phẩm thất bại")
                    }
                    else {
                        alert("Nhập sản phẩm thành công")
                        $("#loadBody").html(res)
                    }
                }
            });
        });
    });
</script>
