@using demo.Controllers
@using demo.Model;
@model List<demo.Model.Product>
@{
    ViewBag.Title = "AddProduct";
}

@{ Html.RenderAction("HeaderMenu", "Shop");}
    <div style="height:100%">
        <div style="display:block">
            <div class="title">
                <h2 style="text-transform: uppercase;
        background: -webkit-linear-gradient(90deg,#eee, #f806f7,#8e03fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    ">
                    THÊM SẢN PHẨM
                </h2>
            </div>

            <form style="position: absolute; width: 100%; height:100%;display:block">
                <div class="container-fluid" style="margin:10px; box-shadow: 0 0 8px 0 dodgerBlue; padding:0px!important">
                    <div class="col-lg-5">
                        <div class="content-right">
                            <div class="product-img">
                                <img src="" id="loadImg" alt="Alternate Text" height="300" width="250" />
                            </div>
                            <input type="file" id="link" name="name" accept="image/*" style="padding-left:50px;margin-left:33px;" />
                        </div>

                    </div>
                    <div class="content-left col-lg-7" style=" box-shadow: -3px 0px 3px 0px #8d8585;">
                        <span class="pro-span">Tên sản phẩm</span>
                        <input type="text" id="Pro_name" class="ip-text-Pro" name="" value="" />

                        <span class="pro-span">Hãng</span>
                        <select id="brand" style="display:inline">
                            <option disabled selected>Chọn hãng đồng hồ</option>
                            @{
                                shopEntities db = new shopEntities();
                                foreach (var p in db.Brands)
                                {
                                    <option value="@p.ID">@p.Name</option>
                                }
                            }
                        </select>
                        <btn type="submit" class="ip-submit-Pro" id="addBrand" style="display:inline;font-weight: bold;margin-left: 30px;color: honeydew;"> Thêm Hãng</btn>
                        <br />

                        <span class="pro-span">Bảo hành (tháng):</span>
                        <input type="number" id="warranty" class="ip-number-Pro" name="" value="" />

                        <span class="pro-span">Loại đồng hồ:</span>
                        <select id="style">
                            <option value="Đồng hồ nam">Đồng hồ Nam</option>
                            <option value="Đồng hồ nữ">Đồng hồ Nữ</option>
                        </select>
                        <br />

                        <span class="pro-span">Năm sản xuất: </span>
                        <input type="date" id="yearOfManufacturing" class="ip-date-Pro" name="" value="" />

                        <span class="pro-span">Giá tiền: </span>
                        <input type="number" id="price" class="ip-number-Pro" name="" value="" />

                        <span class="pro-span">Số lượng: </span>
                        <input type="number" id="quantity" class="ip-number-Pro" name="" value="" />

                        <span class="pro-span">Nước sản xuất</span>
                        <input type="text" id="country" class="ip-text-Pro" name="" value="" />

                        <span class="pro-span">Mô tả</span>

                        <textarea id="Description" rows="10" cols="70" style="max-width:500px; max-height:300px;" placeholder="Nhập mô tả sản phẩm"></textarea>
                        <script>CKEDITOR.replace('Description');</script>

                        <div type="submit" id="add" class="ip-submit-Pro" name="name" value="THÊM" style="margin-left:130px;text-align:center;">THÊM</div>

                    </div>
                </div>
                @{ Html.RenderAction("Footer", "Shop");}
            </form>
            <div class="popup" style="left: 0;" id="openPopup">
                <div class="popup-form" style="padding: 50px 100px!important;">
                    <div class="form-group row">
                        <label for="BrandName" class="col-sm-3 col-form-label">Tên hãng:</label>
                        <div class="col-sm-8">
                            <input type="text" id="brand_new" class="form-control" value="" name="brand_new" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="BrandID" class="col-sm-3 col-form-label">Mã hãng:</label>
                        <div class="col-sm-8">
                            <input type="text" id="brand_Id" class="form-control" value="" name="brand_Id" />
                        </div>
                    </div>

                    <button type="submit" id="AddFrm" class="btn" style=" margin-right: 50px;margin-left:50px; margin-top: 50px; float: left; width: 27%; height: 40px;">Thêm Hãng</button>
                    <button type="button" id="BackFrm" class="btn" style=" margin-top: 50px; float: left; width: 25%; height: 40px;">Trở lại</button>
                </div>
            </div>
        </div>
    </div>
 
<script>

    $(document).ready(function () {
        $("#link").change(function () {
            var src = "";
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#loadImg').attr('src', e.target.result);
                    src = e.target.result;
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

    });
</script>
<script>
    $(document).ready(function () {
        $("#add").click(function () {
            var oEditor = CKEDITOR.instances.Description;
            var noidung = oEditor.getData();

            let Pro_name = $("#Pro_name")[0].value;
            let yearOfManufacturing = $("#yearOfManufacturing")[0].value;
            let price = $("#price")[0].value;
            var brand = document.getElementById("brand");
            brand = brand.value;
            let country = $("#country")[0].value;
            var style = document.getElementById("style");
            style = style.value;
            var img = document.getElementById("loadImg");
            img = img.src;

            let warranty = $("#warranty")[0].value;
            let quantity = $("#quantity")[0].value;
            var description = document.getElementById("Description");
            description = description.value;
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Shop/AddProduct",
                data: {
                    Name: Pro_name,
                    Image: img,
                    Price: price,
                    Warranty: warranty,
                    DateCreate: yearOfManufacturing,
                    Description: noidung,
                    Style: style,
                    Country: country,
                    Brand: brand,
                    Quantity: quantity
                },
                success: function (res) {
                    if (res === "false")
                        toastr.error("Nhập sản phẩm thất bại", "Add Product", { timeOut: 2000, positionClass: "toast-top-right" })
                    else {
                        toastr.success("Nhập sản phẩm thành công", "Add Product", { timeOut: 1500, positionClass: "toast-top-right" })
                        setTimeout(function () { window.location.href = "/Shop/ListProduct"; }, 2000)
                    }
                }
            });
        });
        $('#addBrand').click(function () {
            $('#openPopup').css('opacity', 1);
            $('#openPopup').css('visibility', 'visible');
        })
        $('#BackFrm').click(function () {
            $('#openPopup').css('opacity', 0);
            $('#openPopup').css('visibility', 'hidden');
        })
        $("#AddFrm").click(function () {
            var brandname = $('#brand_new').val();
            var brandid = $('#brand_Id').val();
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Shop/AddBrand",
                data: {
                    brandname: brandname,
                    brandid: brandid,
                },
                success: function (res) {
                    if (res === "false")
                        toastr.error("Thương hiệu này đã tồn tại", "Add Brand", { timeOut: 2000, positionClass: "toast-top-right" })
                    else if (res === "falsename")
                        toastr.error("Tên thương hiệu này đã tồn tại", "Add Brand", { timeOut: 2000, positionClass: "toast-top-right" })
                    else if (res === "success") {
                        toastr.success("Thêm thương hiệu thành công", "Add Brand", { timeOut: 1500, positionClass: "toast-top-right" })
                        setTimeout(function () { window.location.href = "/Shop/AddProduct"; }, 2000)
                    }
                }
            });
        });
    });
</script>
