@using demo.Controllers
@using demo.Model;
@model demo.Model.User
@{
    ViewBag.Title = "ChangePassword";
}

@{ Html.RenderAction("HeaderMenu", "Shop");}
<div class="container">
    <div class="row">
        <div id="cart" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Begin empty cart -->
            <div class="row">
                <div id="layout-page" class="col-md-12 col-sm-12 col-xs-12" margin-left:10px">
                    <h2">
                        ĐỔI MẬT KHẨU <br />
                        Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác
                    </h2>
                    <div class="changepassword" >
                        <form class="frm">
                                <span style="color:black">Mật khẩu hiện tại</span>
                                <input style="border:solid 1px black;color:black" type="password" class="ip-password" id="current" value="" name="password" placeholder="password" />
                                <span style="color:black">Mật khẩu mới:</span>
                                <input  style="border:solid 1px black;color:black" type="password" id="password" class="ip-password" value="" name="password" />
                                @Html.ValidationMessageFor(m => m.Password)
                                <br /><br />
                                <span style="color:black">Xác nhận mật khẩu mới:</span>
                                <input  style="border:solid 1px black;color:black" type="password" id="confirm" class="ip-password" value="" name="confirm" />
                                <br />
                                <span id="showError"></span>
                                @Html.ValidationMessageFor(m => m.Password)
                                <br />
                                <div type="submit" id="Confirm" class="ip-submit" style="text-align:center;width:50px;color:black">Xác nhận</div>

                        </form>
                    </div>
                </div>
                <!-- End cart -->
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            $("#Confirm").click(function () {
                let current = $("#current")[0].value;
                let password = $("#password")[0].value;
                let confirm = $("#confirm")[0].value
                $.ajax({
                    cache: false,
                    type: "POST",

                    url: "/Shop/ChangePassword",
                    data: {

                        current: current,
                        password: password,
                        confirm: confirm
                    },
                    success: function (res) {
                        if (res === "false")
                            toastr.error("Đổi mật khẩu thất bại", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                        else if (res === "NotEqual")
                            toastr.error("Mật khẩu không trùng khớp", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                        else if (res === "Error")
                            toastr.error("Mật khẩu không đúng", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                        else if (res === "null")
                            toastr.error("Không được để trống", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                        else {
                            toastr.success("Đổi mật khẩu thành công, vui lòng đăng nhập lại để tiếp tục mua sắm", "Register", { timeOut: 1500, positionClass: "toast-top-right" })
                            setTimeout(function () { $("#loadBody").html(res) }, 2000)
                        }
                    }
                })
            })
        })
    </script>
    <script src="~/Scripts/CheckPass.js"></script>
