<div class="footer">
    <div class="col-lg-5">
        <br /><br />
        <div class="col-lg-3">
            <img src="~/Img/logoMyTeam.gif" alt="" width="80" height="80"/>
        </div>
        <div class="col-lg-9" style="padding:0">
            <span>Trường Đại học Sư Phạm Kỹ Thuật</span>
            <span>Số 1 Võ Văn Ngân, Thủ Đức, Thành Phố Hồ Chí Minh</span>
            <span><a href="tel:#02837225724">(028) 3722 5724</a> - <a href="tel:#02838961333">(028) 3896 1333</a></span>
            <span><a href="mailto:tuyensinh@hcmute.edu.vn">tuyensinh@hcmute.edu.vn</a></span>
        </div>
    </div>
    <div class="col-lg-7" style="padding:0">
        <br />
        <br />
        <div class="col-lg-6" style="padding:0">
            <div class="col-lg-3" style="padding:0">
                <img src="~/Img/Thien.jpg" alt="" height="80" width="80" />
            </div>
            <div class="col-lg-9" style="padding-left:3px;padding-right:0px">
                <span>Nguyễn Cước Thiên - 18110204</span>
                <span> <a href="mailto:18110204@student.hcmute.edu.vn">18110204@student.hcmute.edu.vn</a></span>
                <span><a href="tel:#0708033730">0708033730</a></span>
                <span>Phan Huy Ích, Gò Vấp, HCM</span>
            </div>
        </div>
        <div class="col-lg-6" style="padding:0">
            <div class="col-lg-3" style="padding:0">
                <img src="~/Img/Vy.jpg" alt="" height="80" width="80" />
            </div>
            <div class="col-lg-9" style="padding-left:3px;padding-right:0px">
                <span>Tu Ngọc Yến Vy - 18110243</span>
                <span> <a href="mailto:18110243@student.hcmute.edu.vn">18110243@student.hcmute.edu.vn</a></span>
                <span><a href="tel:#0334874819">0334874819</a></span>
                <span>Đường số 7, Linh Trung, Thủ Đức, HCM</span>
            </div>
        </div>
    </div>
</div>