
@{
    ViewBag.Title = "ForgotPassword";
}

@model demo.Model.User

<div class="header">
    <h1>Forgot Password</h1>
    <div class="header-main" style="padding-top: 55px;">

        <form>
            <span>Email:</span>
            <input class="ip-text" type="text" name="email" value="" style="max-width:500px;" />
            @Html.ValidationMessageFor(m => m.Email)
            <br /><br />
            <div type="submit" class="ip-submit" style="text-align:center">OK</div>
        </form>
    </div>

</div>


<script>
$(document).ready(function () {
    $(".ip-submit").click(function () {
        let x = $(".ip-text")[0].value
        $.ajax({
                cache: false,
                type: "POST",

                url: "/Shop/ForgotPassword",
                data: {
                    email: x
                },
            success: function (res) {
                if (res === "false")
                        alert("Email không tồn tại")
                    else {
                    alert("Thành công!\nHãy kiểm tra hòm thư email của bạn để thực hiện bước tiếp theo")
                        $("#loadBody").html(res)
                    }
                }
            })
        })
})
</script>

