@using PagedList.Mvc;
@using demo.Model;
@using demo.Controllers;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="home-Contact " style="align-items:center">
    <div class="col-lg-4" style="margin-left: 66px;">
        <img src="~/Img/logoMyTeam.gif" height="100" width="100" style="border-radius:50%;" alt="#" />
    </div>
    <div class="col-lg-8" style="display: flex;justify-content: flex-end;">
        <span>Contact us: <a href="tel:#0708033730">0708033730</a></span>
        <hr>
        @{

            var user = Session["User"] as User;
            if (Session["User"] != null)
            {
                string temp = user.Username;
                if (user.Name != null)
                {
                    temp = user.Name;
                }
                else
                {
                    temp = user.Username;
                }

                <div class="after-login">
                    <ul class="nav navbar-nav center_nav pull-right">
                        @{ string image = "";}
                        @{if (!(user.avatar is null))
                            {
                                byte[] imgBytes = user.avatar;
                                image = System.Text.Encoding.ASCII.GetString(imgBytes);
                            }
                        }
                        @Html.Image(image, "Alternate Text", "50", "30")
                        <li class="nav-item submenu dropdown">
                            <a href="#" style="padding:0!important" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user">@temp</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Shop/Profiles">Tài khoản của tôi</a>
                                </li>
                                @if (user.isAdmin == false)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Shop/Cart">Đơn mua</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" href="~/Shop/HomeGuest" id="Logout">Đăng xuất</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>

            }
            else
            {

                <div class="Before-login">
                    <span><a href="~/Shop/Register">ĐĂNG KÝ</a></span>
                    <hr>
                    <SPAN><a href="~/Shop/Login">ĐĂNG NHẬP</a></SPAN>
                </div>
            }
        }
    </div>
</div>
<div class="home-Menu row">
    <div class="home-Menu-left col-lg-6">
        <ul class="nav navbar-nav center_nav pull-right">
            <li class="nav-item active">
                <a class="nav-link" href="~/Shop/Home">TRANG CHỦ</a>
            </li>
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PHÂN LOẠI</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Style?id=Đồng hồ nam">ĐỒNG HỒ NAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Style?id=Đồng hồ nữ">ĐỒNG HỒ NỮ</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item submenu dropdown ">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÃNG</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Brand?id=Rolex">ROLEX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Brand?id=Daniel Wellington">DW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Brand?id=Casio">CASIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Brand?id=Dior">DIOR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Brand?id=Apple">APPLE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Brand?id=Jacques Lemans">JACQUES LEMANS</a>
                    </li>
                </ul>
            </li>
            @{ Html.RenderAction("HeaderCart", "Shop");}
        </ul>
    </div>


    <div class="home-Menu-right col-lg-6">
        @{

            if (!(user is null) && user.isAdmin == true)
            {
                <ul id="admin" class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item submenu dropdown ">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">THỐNG KÊ</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/Chart?chart=prochart">SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/Chart?chart=revenue">TỔNG DOANH THU</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/Chart?chart=topcustomers">TOP 3 KHÁCH HÀNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/Chart?chart=topproducts">TOP 20 SẢN PHẨM</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CHỨC NĂNG</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/ListProduct">QUẢN LÝ SẢN PHẨM </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/Users?admin=false">QUẢN LÝ USERS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#Logout').click(function () {
            $.ajax({
                type: "POST",
                url: "/Shop/Logout",
                success: function (res) {
                    toastr.success("Đăng xuất thành công", "Logout", { timeOut: 5000, positionClass: "toast-top-right" })
                    setTimeout(function () { window.location.href = "/Shop/HomeGuest"; }, 6000)
                }
            });
        });
    });
</script>
<script>
        $(document).ready(function(){
           $('.dropdown-toggle').dropdown()
       });
</script>