@using demo.Model;

<div class="home-Contact">

    <div class="col-lg-4" style="margin-left: 66px;">
        <img src="~/Img/logoMyTeam.gif" height="100" width="100" style="border-radius:50%;" alt="#" />
    </div>
    <div class="col-lg-8" style="display: flex;justify-content: flex-end;margin-top:43px;">
        <span style="padding-top: 30px;">Contact us: <a href="tel:#0708033730">0708033730</a></span>
        <div class="Before-login" style="padding-top: 30px; padding-right: 20px; display: inline; width: 309px;">
            <span><a href="~/Shop/Register">ĐĂNG KÝ</a></span>
            <SPAN><a href="~/Shop/Login">ĐĂNG NHẬP</a></SPAN>
        </div>
    </div>
</div>
<div class="home-Menu row">
    <div class="home-Menu-left col-lg-6">
        <ul class="nav navbar-nav center_nav pull-right">
            <li class="nav-item active">
                <a class="nav-link" href="~/Shop/HomeGuest">TRANG CHỦ</a>
            </li>
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PHÂN LOẠI</a>
                <ul class="dropdown-menu" role="menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Style?id=Đồng hồ nam">ĐỒNG HỒ NAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop/Style?id=Đồng hồ nữ">ĐỒNG HỒ NỮ</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item submenu dropdown ">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HÃNG</a>
                <ul class="dropdown-menu">
                    @{
                        shopEntities db = new shopEntities();
                        var brand = db.Brands.ToList();
                        foreach (var item in brand)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Shop/Brand?id=@item.Name">@item.Name.ToUpper()</a>
                            </li>
                        }
                    }

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop/Login">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    Giỏ hàng
                </a>
            </li>
        </ul>

    </div>
    <div class="home-Menu-right col-lg-6">

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#Logout').click(function () {
            $.ajax({
                type: "POST",
                url: "/Shop/Logout",
                success: function (res) {
                    toastr.success("Đăng xuất thành công", "Logout", { timeOut: 5000, positionClass: "toast-top-right" })
                    setTimeout(function () { window.location.href = "/Shop/HomeGuest"; }, 6000)
                }
            });
        });
    });
</script>
<script>
        $(document).ready(function(){
           $('.dropdown-toggle').dropdown()
       });
</script>