<style>
    #viewContent {
        border-top: solid 2px #CCC;
        display: flex;
        flex-flow: column;
        box-shadow: 1px 2px 8px 1px indigo;
        margin: 55px 380px;
        padding: 60px 0px;
        padding-left: 64px;
    }

        #viewContent button {
            margin-top: 20px;
            margin-left: 140px;
        }

</style>
@using PagedList.Mvc;
@using demo.Model;
@model demo.Model.ImportExcel
@{ ViewBag.Title = "ImportExcel";}
@using demo.Controllers;

@{Html.RenderAction("headermenu", "shop");}
<h1 style="text-align: center;font-family:Optima;color:indigo">Import Excel File </h1>
<div id="viewContent" style="">
    @using (Html.BeginForm("ImportExcel", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.TextBoxFor(m => m.file, new { type = "file" })
        <button id="submitButton" type="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.file)
    }
</div>