@{
    ViewBag.Title = "Login";


}
@model demo.Model.User

<div class="header" style="height: 780px;">
    <div class="header-main">
        <h1>LOGIN</h1>
        <div class="header-top">
            <div class="header-right">

                <div class="header-left-top">

                    <form>
                        <input type="text" id="username" class="ip-text" value="" name="username" placeholder="username" />
                        <span id="usererror"></span>
                        <input type="password" class="ip-password" value="" name="password" placeholder="password" />

                        <div class="remember">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Remember me</label>
                            </span>

                            <div class="forgot">
                                <h6><a href="#" onclick="window.open('ForgotPassword', 'FP', 'width=600,height=500,top=130,left=370,fullscreen=no,resizable=0');">Forgot Password?</a></h6>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div style="text-align: center;">
                            <div type="submit" style="width: 45%;text-align:center;margin-right: 10px;" id="login" class="ip-submit">Login</div>
                            <div type="submit" style="text-align:center;width: 45%;margin-left: 10px;" id="register" class="ip-submit">Register</div>
                        </div>
                    </form>
                    <div class="header-left-bottom">
                        <div class="sign-up"> <h2>OR</h2> </div>

                    </div>
                    <div class="header-social">
                        <a href="/Shop/LoginFacebook" class="face"><h5>Facebook</h5></a>
                        <a href="#" class="twitt"><h5>Twitter</h5></a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#login").click(function () {
            let username = $(".ip-text")[0].value;
            let password = $(".ip-password")[0].value;
            var url = window.location.href.split('?');
            console.log(url)
            var link = "";
            if (url[1]) {
                url = url[1].split('&');
                link = `/${url[0].split('=')[1]}/${url[1].split('=')[1]}?${url[2]}`;
            } else {
                link=`/Shop/Home`
            }
                
            $.ajax({
                cache: false,
                type: "POST",

                url: "/Shop/Login",
                data: {

                    username: username,
                    password: password
                },
                success: function (res) {
                    if (res === "false") {
                        toastr.error("Đăng nhập thất bại", "Login", { timeOut: 2000, positionClass: "toast-top-right" })
                    }
                    else {
                        toastr.success("Đăng nhập thành công", "Login", { timeOut:1500, positionClass: "toast-top-right" })
                        setTimeout(function () {
                            window.location.href = link; },2000)
                        //toastr.success("Đăng nhập thành công", "Login", { timeOut:10000)
                        //$("#loadBody").html(res)
                        
                    }
                }
            })
        })
        $("#register").click(function () {
            window.location.href = "/Shop/Register";
        });
    })
</script>
<script>
    $(document).ready(function () {
        $('#username').keyup(function () {
            var check = $('#username').val();
            if (/^[a-zA-Z0-9]*$/.test(check) == false) {
                $('#usererror').html('Username không chứa các ký tự đặc biệt');
                $('#usererror').css('color', 'rgb(100, 230, 97)');
                $('#login').e
                return false;
            }
            else {
                $('#usererror').html('')
                return true;
            }
        });
    });
</script>