
@{
    ViewBag.Title = "ResetPassword";
}

@model demo.Model.User

<div class="header">
    <div class="header-main">
        <h1><p>Reset Password</p></h1>
        <div class="header-top">
            <div class="header-left-top">

                <form class="frm">
                    <span>User Name:</span>
                    <input type="text" class="ip-text" value="" name="username" />
                    @Html.ValidationMessageFor(m => m.Username)
                    <br /><br />
                    <span>Password:</span>
                    <input type="password" id="password" class="ip-password" value="" name="password" />
                    @Html.ValidationMessageFor(m => m.Password)

                    <br /><br />
                    <span>Confirm:</span>
                    <input type="password" id="confirm" class="ip-password" value="" name="confirm" />
                    <br />
                    <span id="showError"></span>
                    @Html.ValidationMessageFor(m => m.Password)
                <br />
                <div type="submit" id="reset" class="ip-submit" style="text-align:center">Gửi</div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#reset").click(function () {
            let username = $(".ip-text")[0].value;
            let password = $(".ip-password")[0].value;
            let confirm = $("#confirm")[0].value
            $.ajax({
                cache: false,
                type: "POST",

                url: "/Shop/ResetPassword",
                data: {

                    username: username,
                    password: password,
                    confirm: confirm
                },
                success: function (res) {
                    if (res === "false")
                        toastr.error("Đổi mật khẩu thất bại", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                    else if (res === "NotEqual")
                        toastr.error("Mật khẩu không trùng khớp", "Reset Password", { timeOut: 2000, positionClass: "toast-top-right" })
                    else {
                        toastr.success("Đổi mật khẩu thành công", "Register", { timeOut: 1500, positionClass: "toast-top-right" })
                        setTimeout(function () { window.location.href = "/Shop/Login"; }, 2000)
                    }
                }
            })
        })
    })
</script>
<script src="~/Scripts/CheckPass.js"></script>

