
@{
    ViewBag.Title = "ResetPassword";
}

@model demo.Model.User

<div class="header">
    <div class="header-main">
        <h1><p>Reset Password</p></h1>
        <div class="header-top">
            <div class="header-left-top">

                <form class="frm">
                    <span>User Name:</span>
                    <input type="text" class="ip-text" value="" name="username" />
                    @Html.ValidationMessageFor(m => m.Username)
                    <br /><br />
                    <span>Password:</span>
                    <input type="password" id="password" class="ip-password" value="" name="password" />
                    @Html.ValidationMessageFor(m => m.Password)

                    <br /><br />
                    <span>Confirm:</span>
                    <input type="password" id="confirm" class="ip-password" value="" name="confirm" />
                    <span id="showError"></span>
                    @Html.ValidationMessageFor(m => m.Password)
                <br />
                <div type="submit" id="reset" class="ip-submit" style="text-align:center">Gửi</div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#reset").click(function () {
            let username = $(".ip-text")[0].value;
            let password = $(".ip-password")[0].value;
            //let confirm = $("#confirm")[0].value;
            $.ajax({
                cache: false,
                type: "POST",

                url: "/Shop/ResetPassword",
                data: {

                    username: username,
                    password: password
                },
                success: function (res) {
                    if (res === "false")
                        alert("Đổi mật khẩu thất bại")
                    else if (res === "NotEqual")
                        alert("Mật khẩu không trùng khớp")
                    else {
                        alert("Đổi mật khẩu thành công")
                        $("#loadBody").html(res)
                    }
                }
            })
        })
    })
</script>
<script>
    $('#confirm').keyup(function () {
        var password = $('#password').val();
        var re_password = $('#confirm').val();
        if (re_password != password) {
            $('#showError').html('Mật khẩu không trùng khớp');
            $('#showError').css('color', 'Green');
            return false;
        } else {
            $('#showError').html('');
            return true
        }
    });
</script>

